* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: rgb(170, 170, 170);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-player {
  display: block;
  background-color: #141414;
  display: block;
  margin: 0px auto;
  padding: 50px;
  border-radius: 16px;
}

.c-player > h4 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.c-player > p {
  color: #aaa;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 20px auto;
}

.c-player--details .details-img img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}

.c-player--details .details-title {
  color: #eee;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.c-player--details .details-artist {
  color: #aaa;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  background: none;
  border: none;
  outline: none;
  color: #eee;
  cursor: pointer;
  font-size: 60px;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
  font-style: 50px;
}
